.header_container {
    background: #000;
}

.logo {
    width: 60px;
}

.link {
    color: #777;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.link:hover{
    cursor: pointer;
    color: #fff;
    text-shadow: 0 0 5px #ddd, 
                0 0 10px #ddd, 
                0 0 15px #e62300, 
                0 0 20px #e62300, 
                0 0 25px #e62300, 
                0 0 30px #e62300, 
                0 0 35px #e62300;
}

.language{
    font-size: 1.5rem;
    color: #777;
    cursor: pointer;
}

.language:hover{
    transform: scale(0.95);
    transition: all 300ms;
}
